/* YOUR CUSTOM STYLES */h1,
h2,
h3 {
  /* font-family: "Comfortaa", cursive; */
}

h2 {
  font-size: 1.4em;
  color: #4aaaa5;
  font-weight: bolder;
  width: 50vw;
}

body {
  line-height: 1.5;
  font-size: 1em;
  color: #777777;
  background-image: url("../assets/images/concrete_seamless.png");
  background-repeat: repeat;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  /* font-family: "Comfortaa", cursive; */
}


.box-size{
  box-sizing: border-box;
}
/* nav.navbar.navbar-expand-lg {
  background-color: white;
  padding: 0;
  border-bottom: 2px #eee solid;
} */

li {
  border-right: #eee solid 1px;
}

li:last-child {
  border: 0;
}

/* nav .navbar-nav li a {
  color: white !important;
} */

.navbar {
}

.row3 {
  width: 960px;
}

/* .navv {
  width: 960px;
} */

.card-img {
  width: 17.125em;
  height: 12.844em;
}


.head1 {
  color: #ffffff;
  background-color: #4aaaa5;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
}


/* Portfolio styles */
.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  background-color: #4aaaa5;
  color: white;
  padding: 25px;
}

.card-text {
  text-align: center;
  width: 100%;
  top: 65%;
  position: absolute;
  z-index: 1;
  background-color: #4aaaa5;
  margin: 0 auto;
  color: white;
  padding: 15px 0;
}

.col-sm-10 {
  max-width: none;
}

img.img-fluid.float-left.col-lg-2 {
  width: 250px;
}

.col-lg-8 {
  max-width: 100%;
}

.divROw{
  height:50vh;
  background-color:white;
  border-radius: 20px;
}

/* contact styles */
.btn-primary {
  color: white;
  background-color: #44aaaa;
  border: #179e97 solid 2px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border-color: lightgray;
  font-size: 20px;
  font-weight: bold;
}
